.form {
  display: flex;
  flex-direction: column;

  @media (max-width: 650px) {
    width: 100%;
  }
}

.mat-card-content {
  >* {
    width: 100%;
  }
}

.form-container {
  width: 50%;
  margin-top: 15px;

  @media (max-width: 650px) {
    width: 100%;
  }

  @media (max-width: 960px) and (min-width: 650px) {
    width: 75%;
  }
}

.mat-form-field {
  margin-bottom: 15px;
}
