@import "../../../styles/variables";

.sidenav-toggle {
  display: none;
  min-width: $largeIconWidth;
  cursor: pointer;

  @media (max-width: 650px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 2rem;
    height: $largeIconWidth;
    width: $largeIconWidth;
    line-height: $largeIconWidth;
    color: white;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}
