// Custom Theming for Angular Material
@import "~@angular/material/theming";
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$employee-portal-primary: mat-palette($mat-indigo);
$employee-portal-accent: mat-palette($mat-pink, A200, A100, A400);
$employee-portal-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$employee-portal-theme: mat-light-theme($employee-portal-primary, $employee-portal-accent, $employee-portal-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($employee-portal-theme);

@import "./variables";
@import "./mixins";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
